@import url(~@/styles/mixin.less);

.home-page-view {

    .btn {
        margin-left: 1rem;
        font-size: .7rem;
        padding: 0 0.3rem;
    }
    .title {
        font-size: 1rem;
        margin: 1rem 0 0.5rem;
    }
    input[type=text] {
        width: 50%;
    }
}
